<div class="container-fluid">
    <div class="row d-flex">
        <div class="col d-flex">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let colItem of cols" scope="col">{{colItem}}</th>
                        <th>Edit Contact</th>
                        <th>Remove Contact</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of contacts; let i = index">
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.phoneNumber}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            <button type="button" class="btn btn-warning" (click)="oneditContact(item)">Edit</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"
                                (click)="ondeleteContact(i, item)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>