<section>
    <form [formGroup]="contactForm" (submit)="onSave()">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">First Name</span>
            </div>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" />
        </div>
        <app-control-messages [control]="contactForm.get('firstName')"></app-control-messages>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Last Name</span>
            </div>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" />
        </div>
        <app-control-messages [control]="contactForm.get('lastName')"></app-control-messages>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Phone Number</span>
            </div>
            <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" />
        </div>
        <app-control-messages [control]="contactForm.get('phoneNumber')"></app-control-messages>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
            </div>
            <input type="text" class="form-control" formControlName="email" id="email" />
        </div>
        <app-control-messages [control]="contactForm.get('email')"></app-control-messages>
        <button type="submit" [disabled]="!contactForm.valid" class="btn btn-success">{{buttonText}}</button>
    </form>
</section>