<div class="container-fluid">
    <div class="row">
        <div class="col">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="navbar-brand" href="#">MyContacts</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-5">
                <button type="button" [ngClass]="{' btn-primary' : !isFormVisible, 'btn-danger' : isFormVisible}"
                    class="btn btn-primary float-left margin" (click)="addContact()">{{buttonText}}</button>
                <app-contact *ngIf="isFormVisible" [buttonText]="formButtonText" [contact]="currentContact"
                    (save)="onSaveContact($event)">
                </app-contact>
            </div>
            <div class="col-7">
                <app-contacts-table [cols]="cols" [contacts]="contacts" (updateContact)="onUpdateContact($event)"
                    (deleteContact)="deleteContact($event)"></app-contacts-table>
            </div>
        </div>
    </div>
</div>