.btn-primary {
    float: right;
}

ul {
    padding: 10px 10px;
    background-color: rgba(160, 156, 156, 0.199);
    margin-bottom: 10px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.container {
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.margin {
    margin-bottom: 10px;
}
